<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACF0FAB41E4185DF00364B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF0FAC81E4185E000364B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACF0FAD31E4185E000364B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
